body{
	font-family: "Open sans", sans- serif;
	
}
.landing-page {
	min-height: 100vh;
	background-image: url(decore3.jpg);
	background-size: cover;
	position: relative;


}

.landing-page.overlay {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index: 1;
}
.header-area {
	position: relative;
	z-index: 2;
	color:black;
	display: flex;
}

.header-area.logo {
	width: 300px;
	padding: 15;
}
.header-area .links {
	list-style: none;
	width: 100%;
	padding-left: 0;
	padding-right: 20px;

}

.header-area.links li{
	display: inline-block;
	margin-left: 10px;
}