body{
	font-family: "Open sans", sans- serif;
	/*	background-color: rgba(0,0,0,.5);*/
		background-size: cover;
		background-position: center;
		background:beige;
		background-image: url("sitting room/interior_4099.jpg");
		font-size: x-large;
		width: 200px;
       height: 200px;	
			
}

.header-area {
	position: relative;
	z-index: 2;
	color:black;
	display: flex;

}
/*
.logo {
	width: 300px;
	padding: 15;
	font-size:50px;
}
*/


#serve {
	line-height: 1.8;
	margin: 0;
	position: absolute;
	left: 40%;
	top:40%;
	transform: translate(-50%, -50%);
	color:black;
	z-index:2;
	font-size: 30px;
	/*text-align: center;*/
}

}